/**
 * VmcMenu 导航菜单插件 v1.1.0
 * 维米客网页工作室 Vomoc Web Studio
 * http://www.vomoc.com/vmc/menu/
 * vomoc@qq.com
 * 2015/11/15
 **/
.vui-menu {
    position: relative;
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 1000px;
    height: 40px;
    background: #B10000;
    z-index: 999;
}

/* a */

.vui-menu a, .vui-menu a:hover {
    text-decoration: none;
}

/* dl */

.vui-menu .vui-main {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-width: 0;
    list-style: none outside none;
    font-size: 0;
    vertical-align: top;
}

/* dl dd */

.vui-menu .vui-item {
    position: relative;
    float: left;
    display: inline;
    height: 100%;
    padding: 0;
    margin: 0 auto;
    border-width: 0;
    list-style: none outside none;
}

/* dl dd a */

.vui-menu .vui-item-value {
    position: relative;
    float: left;
    display: inline;
    overflow: hidden;
    height: 100%;
    padding: 0;
    margin: 0;
    border-width: 0;
    cursor: pointer;
    z-index: 95;
}

/* dl dd a icon */

.vui-menu .vui-item-value .vui-item-value-icon {
    position: absolute;
    top: 10px;
    left: 5px;
    display: block;
    overflow: hidden;
    height: 20px;
    width: 20px;
    margin: 0;
    padding: 0;
    border-width: 0;
    background: url(arrow.gif) no-repeat center center;
    cursor: pointer;
}

/* dl dd a text */

.vui-menu .vui-item-value .vui-item-value-text {
    float: left;
    display: inline;
    height: 20px;
    margin: 10px 15px 10px 30px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    font-family: '微软雅黑';
    color: #FFF;
    cursor: pointer;
}

/* dl dd ul */

.vui-menu .vui-children {
    position: absolute;
    left: 0;
    float: left;
    display: inline;
    visibility: hidden;
    overflow: hidden;
    padding: 0;
    margin: 0 auto;
    border: none;
    list-style: none outside none;
    background: #000;
    z-index: 90;
}

/* dl dd ul li */

.vui-menu .vui-child-item {
    float: left;
    display: inline;
    height: 30px;
    margin: 0 auto;
    clear: both;
}

/* dl dd ul li a */

.vui-menu .vui-child-value {
    position: relative;
    float: left;
    display: inline;
    height: 100%;
    margin: 0 auto;
    font-size: 12px;
    clear: both;
    cursor: pointer;
}

/* dl dd ul li a icon */

.vui-menu .vui-child-value-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    display: block;
    overflow: hidden;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    border-width: 0;
    background: url(arrow.gif) no-repeat center center;
    cursor: pointer;
}

/* dl dd ul li a text */

.vui-menu .vui-child-value-text {
    float: left;
    display: inline;
    overflow: hidden;
    height: 20px;
    margin: 5px 15px 5px 30px;
    white-space: nowrap;
    line-height: 20px;
    font-weight: normal;
    font-family: '微软雅黑';
    color: #FFF;
    cursor: pointer;
}
.vui-menu .vui-current-bar-box {
    position: absolute;
    top: -3px;
    left: 0;
    height: 3px;
    width: 100%;
    overflow: hidden;
}
.vui-menu .vui-current-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background: #000;
}
.vui-menu .vui-item-hover {
    background: #C00;
}
.vui-menu .vui-item-hover .vui-item-value-text {
    color: #FFF;
}
.vui-menu .vui-item-hover .vui-item-value-icon {}
.vui-menu .vui-child-hover {
    background: #555;
}
.vui-menu .vui-child-hover .vui-child-value-text {
    color: #FFF;
}
