.vui-menu {
	position:relative;
	display:block;
	padding:0;
	margin:0 auto;
	width:1000px; /* 配置 */
	height:40px; /* 配置 */
	background:#B10000;
	z-index:999;
}
/* a */
.vui-menu a,
.vui-menu a:hover {
	text-decoration:none;
}
/* dl */
.vui-menu .vui-main {
	position:relative;
	display:block;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	border-width:0;
	list-style:none outside none;
	font-size:0;
	vertical-align:top;
}
/* dl dd */
.vui-menu .vui-item  {
	position:relative;
	float:left;
	display:inline;
	height:100%;
	padding:0;
	margin:0 auto;
	border-width:0;
	list-style:none outside none;
}
/* dl dd a */
.vui-menu .vui-item-value {
	position:relative;
	float:left;
	display:inline;
	overflow:hidden;
	height:100%;
	padding:0;
	margin:0;
	border-width:0;
	cursor:pointer;
	z-index:95;
}
/* dl dd a icon */
.vui-menu .vui-item-value .vui-item-value-icon {
	position:absolute;
	top:10px; /* 配置 */
	left:5px; /* 配置 */
	display:block;
	overflow:hidden;
	height:20px; /* 配置 */
	width:20px; /* 配置 */
	margin:0;
	padding:0;
	border-width:0;
	background:url(arrow-w.gif) no-repeat center center;
	cursor:pointer;
}
/* dl dd a text */
.vui-menu .vui-item-value .vui-item-value-text {
	float:left;
	display:inline;
	height:20px; /* 配置 */
	margin:10px 15px 10px 30px; /* 配置 根据ICON占用宽度  根据字符长度决定宽度，也可以置顶宽度让字符居中*/
	line-height:20px; /* 配置 */
	text-align:center;
	font-size:14px;
	font-weight:normal;
	font-family:'微软雅黑';
	color:#FFF; /* 字体颜色 */
	cursor:pointer;
}
/* dl dd ul */
.vui-menu .vui-children {
	position:absolute;
	left:-1px; /* 无边框时为0 */
	display:none;
	overflow:hidden;
	padding:0;
	margin:0 auto;
	border-width:0 1px 1px 1px;
	border-style:solid;
	border-color:#FFF;
	list-style:none outside none;
	background:#E0E0E0;
	z-index:90;
	-moz-border-radius:0 0 4px 4px;
	-webkit-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 4px;
	-webkit-box-shadow:0 1px 3px 0 rgba(0,0,0,0.2);
	-moz-box-shadow:0 1px 3px 0 rgba(0,0,0,0.2);
	-o-box-shadow:0 1px 3px 0 rgba(0,0,0,0.2);
	-ms-box-shadow:0 1px 3px 0 rgba(0,0,0,0.2);
	box-shadow:0 1px 3px 0 rgba(0,0,0,0.2);
}
/* dl dd ul li */
.vui-menu .vui-child-item {
	float:left;
	display:inline;
	height:30px; /* 配置 */
	margin:0 auto;
	clear:both;
}
/* dl dd ul li a */
.vui-menu .vui-child-value {
	position:relative;
	float:left;
	display:inline;
	height:100%;
	margin:0 auto;
	font-size:12px;
	clear:both;
	cursor:pointer;
}
/* dl dd ul li a icon */
.vui-menu .vui-child-value-icon {
	position:absolute;
	top:5px; /* 配置 */
	left:5px; /* 配置 */
	display:block;
	overflow:hidden;
	width:20px; /* 配置 */
	height:20px; /* 配置 */
	margin:0;
	padding:0;
	border-width:0;
	background:url(arrow-b.gif) no-repeat center center;
	cursor:pointer;
}
/* dl dd ul li a text */
.vui-menu .vui-child-value-text {
	float:left;
	display:inline;
	overflow:hidden;
	height:20px; /* 配置 */
	margin:5px 15px 5px 30px; /* 配置 */
	white-space:nowrap; 
	line-height:20px; /* 配置 */
	font-weight:normal;
	font-family:'微软雅黑';
	color:#000;
	cursor:pointer;
}

.vui-menu .vui-current-bar-box {
	position:absolute;
	top:-3px;
	left:0;
	height:3px;
	width:100%;
	overflow:hidden;
}

.vui-menu .vui-current-bar {
	position:absolute;
	top:0;
	left:0;
	height:3px;
	background:#F00;
}

.vui-menu .vui-item-hover {
	background:#C60000;
}
.vui-menu .vui-item-hover .vui-item-value-text {
	color:#FFF;
}
.vui-menu .vui-item-hover .vui-item-value-icon {
	
}

.vui-menu .vui-child-hover {
	background:#F0F0F0;
}
.vui-menu .vui-child-hover .vui-child-value-text {
	color:#C00;
}